/* base styles for small devices */

.container {
    min-width: 320px;
    max-width: 428px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 96px 0;
}

.main-effect-button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    min-width: 165px;
    height: 50px;
    color: #ffffff;
    background-color: var(--primary-brand );
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 32px;
}

.main-effect-button:hover,
.main-effect-button:focus {
    background-color: #404BBF ;
} 


/* tablet screen */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 16px;
    }
}
 
/* descktop screen */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0;
    }
    .section {
        padding: 120px 0;
    }
}

/* header */
.contacts {
    display: block;
    margin-left: auto;
    /* align-items: center;
    align-content: center; */
}

.tel {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--article-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-icon {
    width: 12px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}

.mail {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--article-color);
    margin-right: 50px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 12px;
}

.mail-icon {
    width: 16px;
    height: 10px;
    margin-right: 10px;
    fill: currentColor;
}

.mail:hover, .mail:focus {
    color: var(--primary-brand );
}

.tel:hover, .tel:focus {
    color: var(--primary-brand );
}
.header-content {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color : #000000;
    display: inline-block;
    padding: 0px;
    margin-right: 90px;
}

.logo-color {
    color: var(--primary-brand );
}

.site-nav-list {
    list-style: none;
    display: flex;
    
}

.site-nav-list-item {
    margin-right: 40px;
    position: relative;
    
}

.site-nav-list-item-link {
    text-decoration: none;
    color: var(--headline-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    padding: 15px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-list-item-link:hover, .site-nav-list-item-link:focus {
    color: var(--primary-brand );
}

.site-nav-list-item-link.current {
    color: var(--primary-brand );
}

.site-nav-list-item-link.current::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--primary-brand );
    border-radius: 2px;
}



@media screen and (max-width: 767px) {
    .header-content {
        position: relative;
        height: 70px;
    }
    .site-nav {
        display: none;
    }
    .contacts {
        display: none;
    }
    .menu-hamburger {
        position: absolute;
        top: 24px;
        right: 12px;
        border: none;
        background-color: #FFFFFF;
    }
    .menu-hamburger-icon {
        stroke: #2E2F42;
    }
    

}
@media screen and (min-width: 767px) {
    .mail {
        display: flex;
        margin-bottom: 12px;
    }
    .tel {
        display: flex;
    }
    .menu-hamburger {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .contacts {
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
    }
    .mail {
        display: flex;
        margin-bottom: 0;
    }
    .menu-hamburger {
        display: none;
    }
}



/* main-effect */
.main {
    width: 100%;
} 
.main-effect {
    background-color: #2F303A;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/background (1).jpg');
    background-size: 1600px cover;
    background-repeat: no-repeat;
    background-position: center;    
}

.main-effect .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.main .main-effect {
    padding: 200px 0;
    min-height: 600px;
}

.main-effect-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-bottom: 40px;
}

.main-effect-button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    min-width: 170px;
    height: 50px;
    color: #ffffff;
    background-color: var(--primary-brand );
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 32px;
}

.main-effect-button:hover,
.main-effect-button:focus {
    background-color: #404BBF ;
}


/* qualities section */

.qualities-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.qualities-list-item-article {
    color: var(--headline-color);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.qualities-list-item-article-text {
    color:#434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.32px;
}

@media screen and (min-width: 768px) {
    .qualities-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }
    .qualities-list-item {
       flex-basis: calc((100% - 24px) / 2);
    }
    .qualities-list-item-article {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .qualities-list-item {
        max-width: 274px;
        flex-basis: calc((100% - 72px) / 4);
     }
    .qualities-list-item::before {
        display: inline-flex;
        content: '';
        width: 100%;
        height: 120px;
        background-color: #f5f4fa;
        border-radius: 2px;
    }
    .qualities-list-item-article {
        color: #2E2F42;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
        display: inline-block;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .qualities-list-item-article-text {
        color:  #434455;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
        letter-spacing: 0.32px;
    }
}

.group::before {
    background-image: url(../images/SVG/antenna.svg);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.clock::before {
    background-image: url(../images/SVG/clock.svg);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.diagram::before {
    background-image: url(../images/SVG/diagram.svg);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.astronaut::before {
    background-image: url(../images/SVG/astronaut.svg);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 767px) {
.qualities-list-item:not(:last-child) {
    margin-bottom: 72px;
    }
}

/* employment section */
.employment {
    display: none;
}

@media screen and (min-width: 1158px) {
    .employment {
        display: flex;
        text-align: center;
        padding-top: 0;
    }
    
    .employment-headline {
        color: var(--headline-color);
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        display: inline-block;
        margin-bottom: 50px;
    }
    
    .employment-list {
        list-style: none;
        display: flex;
        flex-basis: calc(100%-60px);
    }
    
    .employment-list-item {
        position: relative;
    }
    
    .employment-list-item:not(:last-child) {
        margin-right: 24px;
    }
    
    .employment-list-item-text {
        display: flex;
        justify-content: center;
        width: 370px;
        height: 70px;
        padding: 27px 0;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        background: rgba(47, 48, 58, 0.8);
    }
}

/* team section */

.team {
    width: 100%;
    background-color: #f5f4fa;
    padding-bottom: 72px;
}

.team-headline {
    color: var(--headline-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
}

.team-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team-list-item {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list-item:not(:last-child) {
    margin-bottom: 72px;
}

.team-list-item-headline {
    color: var(--headline-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-list-item-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
}

.team-list-item-article {
    color: var(--article-color);
    font-family: 'Roboto';    
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-list-item-image {
    display: block;
    width: 264px;
}

.social {
    display: flex;
    list-style: none;
    margin-top: 16px;
}

.social-item:not(:last-child) {
    margin-right: 10px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover svg,
.social-link:focus svg {
    fill: #ffffff;
}

.social-link:hover,
.social-link:focus {
    background-color: var(--primary-brand );
}


.social-icon {
    fill: #AFB1B8;
}

@media screen and (min-width: 768px) {
    .team {
        padding-bottom: 24px;
    }
    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: calc((100% - 24px) / 2);
        gap: 24px;
    }
    .team-list-item {
        display: flex;
        flex-direction: column;
            
    }
    .team-list-item:last-child {
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        flex-basis: calc((100%-72px)/4);
        gap: 32px;
    }
}

/* client section */
.clients {
    padding-bottom: 24px;
}

.clients-headline {
    color: var(--headline-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
}

.clients-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100%-16px)/2);
    gap: 16px;
    padding: 0;
}

.clients-list-item {
    display: flex;
    margin-bottom: 72px;
}

.clients-list-item-link {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 190px;
    height: 88px;
    border: 1px solid #AFB1B8;
    border-radius: 3px;
}

.clients-logo { 
    display: flex;
    fill: #AFB1B8;
}

.clients-list-item-link svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item-link:hover svg,
.clients-list-item-link:focus svg {
    fill: var(--primary-brand );
}

.clients-list-item-link:hover,
.clients-list-item-link:focus {
    border: 1px solid var(--primary-brand );
}

@media screen and (min-width: 768px) {
    .clients-list {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-basis: calc((100%-48px)/3);
        gap: 24px;
    }
    .clients-list-item-link {
        width: 168px;
        height: 88px;
    }
}

@media screen and (min-width: 1158px) {
    .clients-list {
        flex-basis: calc((100%-120px)/6);
        gap: 24px;
    }
    .clients-list-item-link {
        width: 173px;
        height: 88px;
    }
}

/* footer */

.page-footer {
    background-color: #2f303a;
    width: 100%;
}

.page-footer .container {
    max-width: 428px;
    padding: 96px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-footer-contacts {
    display: flex;
    width: 264px;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    color: #ffffff;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

.footer-slogan {
    color: #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    margin-bottom: 70px;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
} 

.footer-headline {
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.32px;
    
}

.footer-social-list {
    display: flex;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 70px;
}

.footer-social-item:not(:last-child) {
    margin-right: 10px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--primary-brand);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover svg {
    fill: #ffffff;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}


.footer-social-icon {
    fill: #ffffff;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.footer-subscribe-form {
    display: flex;
    margin-top: 20px;
    max-width: 428px;
}

.footer-email {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.6);;
    border-radius: 4px;
    background-color: #2F303A;
    outline: none;
    width: 398px;
    height: 50px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 16px;
}

.footer-email:focus {
    background-color: #ffffff;
}

.footer-form .email-submit {
    display: block;
    position: relative;
    width: 170px;
    padding: 10px 32px 10px 8px;
    margin: 0 auto;
        
}

.footer-email-send {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: inherit;
}

@media screen and (min-width: 768px) {
    .page-footer .container {
        max-width: 768px;
        padding: 96px 108px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }
    .footer-logo {
        align-self: flex-start;
    }

    .footer-subscribe {
        min-width: 490px;
        align-items: flex-start;
    }
    .footer-form {
        display: flex;
        gap: 24px
    }

    .footer-subscribe-form {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .footer-email {
        display: flex;
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .page-footer .container {
        min-width: 1158px;
        padding: 96px 0;
        display: flex;
        flex-direction: row;
        gap: 0;
    }
    .page-footer {
        display: flex;
        background-color: #2f303a;
        width: 100%;
    }
    .page-footer-contacts {
        margin-right: 120px;
    }
    .footer-socials {
        align-items: flex-start;
        margin-right: 75px;
    }
    
    .footer-subscribe {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
    }
    
    .footer-subscribe-form {
        display: flex;
        margin-top: 20px;
        width: 100%;
    }
    
    .footer-email {
        border: 1px solid rgba(255, 255, 255, 0.6);;
        border-radius: 4px;
        background-color: #2F303A;
        outline: none;
        width: 265px;
        height: 50px;
        padding-left: 12px;
        padding-right: 12px;
    }
    
    .footer-email:focus {
        background-color: #ffffff;
    }
}